{% extends "cat_app/base_footer.html" %}
{% load static %}
{% block title %}Cat List{% endblock %}
{% block templatecss %}<link href="{% static 'css/cat_list.css' %}" rel="stylesheet">{% endblock %}
{% block imagenav %}<img class="imageframe" src="../../media/{{ profile_detail.picture }}" alt="{{ profile_detail.picture }}">{% endblock %}
{% block content %}
    <button type="submit" class="btn btn-primary cat-list-button">Add Cat</button>
    <!-- </div> -->
    <div class="cat-list-container">
      <ul class="my-4 cat-list-list">
        {% for cat in cat_list %}
        <li>
          <table class="cat-list-item">
            <tr>
              <td class="cat-list-item-image-container" colspan="2">
                <div class="cat-list-item-image-container">
                  <img class="cat-list-item-image" src="../../media/{{ cat.cat_picture }}"/>
                  <div class="centered-cat-text">
                    <h1 class="black-text">
                      {{ cat.cat_name }}
                    </h1>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="owner">
                <h3>Owner: {{ cat.owner }}</h3>
              </td>
              <td>
                <button class="btn btn-primary cat-list-item-button">Select</button>
              </td>
            </tr>
            <tr>
              <td>
                <button class="btn btn-warning cat-list-item-button">Update</button>
              </td>
              <td>
                <button class="btn btn-danger cat-list-item-button">Remove</button>
              </td>
            </tr>
          </table>
        </li>
        {% endfor %}
      </ul>
    </div>
{% endblock %}
