{% extends "cat_app/base_footer.html" %}
{% load static %}
{% block title %}Cat List{% endblock %}
{% block templatecss %}<link href="{% static 'css/cat_list.css' %}" rel="stylesheet">{% endblock %}
{% block profile_nav %}
  {% if profile_detail %}
    <li class="nav-item">
      <a name="profile_nav"  class="nav-link" href="{% url 'cat_app:profile_detail' pk=profile_detail.pk %}">Profile</a>
    </li>
  {% else %}
     <li class="nav-item">
      <a name="create_profile_nav" class="nav-link" href="{% url 'cat_app:create_profile' %}"">Create Profile</a>
      </li>
  {% endif %}
{% endblock %}
{% block imagenav %}
  {% if profile_detail %}
    <img class="imageframe" src="../../../media/{{ profile_detail.picture }}"" alt="empty">
  {% else %}
     <img class="imageframe" src="{% static 'images/grey.jpg' %}" alt="empty">
  {% endif %}
{% endblock %}

{% block content %}
    <div>
    <a type="submit" class="btn btn-primary cat-list-button"  href="{% url 'cat_app:create_cat' %}">Add Cat</a>
    </div>
    <!-- </div> -->
    <div class="cat-list-container">
      <ul class="my-4 cat-list-list">
        {% for cat in cat_list %}
        <li>
          <table class="cat-list-item">
            <tr>
              <td class="cat-list-item-image-container" colspan="2">
                <div class="cat-list-item-image-container">
                  <img class="cat-list-item-image" src="../../media/{{ cat.cat_picture }}"/>
                  <div class="centered-cat-text">
                    <h1 class="black-text">
                      {{ cat.cat_name }}
                    </h1>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="owner">
                <h3>Owner: {{ cat.owner }}</h3>
              </td>
              <td>
                <div>
                <a name="cat_item_select" class="btn btn-primary cat-list-item-button" href="{% url 'cat_app:cat_detail' pk=cat.pk %}">Select</a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div>
                <a name="cat_item_update"class="btn btn-warning cat-list-item-button" href="{% url 'cat_app:update_cat' pk=cat.pk %}">Update</a>
              </div>
              </td>
              <td>
                <div>
                  <a name="cat_item_remove"class="btn btn-danger cat-list-item-button"  href="{% url 'cat_app:delete_cat' pk=cat.pk %}">Remove</a>
                </div>
              </td>
            </tr>
          </table>
        </li>
        {% endfor %}
      </ul>
    </div>
{% endblock %}
