{% extends "base.html" %}
{% block title %}Delete Cat{% endblock %}
{% block templatecss %}<link href="{% static 'css/profile.css' %}" rel="stylesheet" />{% endblock %}
{% block imagenav %}<img class="imageframe" src="media/{{ profile_detail.picture }}" alt="{{ profile_detail.picture }}">{% endblock %}
{% block content %}
    <br>
    <form method="POST">
      {% csrf_token %}
      <div class="register-container">
          <input type="Submit" class='btn btn-danger' value='Delete'>
          <a class='btn btn-primary' href="{% url 'cat_app:cat_detail' pk=cat.pk %}">Cancel</a>
      </div>
    </form>
    <br>
{% endblock %}

