{% extends "cat_app/base_footer.html" %}
{% load static %}
{% block title %}Home Page{% endblock %}
{% block templatecss %}<link href="{% static 'css/style.css' %}" rel="stylesheet" />{% endblock %}
{% block imagenav %}<img class="imageframe" src="media/{{ profile_detail.picture }}" alt="{{ profile_detail.picture }}">{% endblock %}
{% block content %}
   <img class="center" src="{% static 'images/logo.jpg' %}"/>
    
    <div>Logo made with <a href="/en/" title="Free Online Logo Maker">DesignEvo</a></div>
    <br>
    <h1 class="my-4">You have 10 Virtual Cats</h1>
    <br>
    <h1 class="my-4">You have 10 Virtual Cat Pals</h1>
{% endblock %}
