{% extends "cat_app/base_footer.html" %}
{% load static %}
{% block title %}Home Page{% endblock %}
{% block templatecss %}<link href="{% static 'css/style.css' %}" rel="stylesheet" />{% endblock %}
{% block profile_nav %}
  {% if profile_detail %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'cat_app:profile_detail' pk=profile_detail.pk %}">Profile</a>
    </li>
  {% else %}
     <li class="nav-item">
      <a class="nav-link" href="{% url 'cat_app:create_profile' %}"">Create Profile</a>
      </li>
  {% endif %}
{% endblock %}
{% block imagenav %}
  {% if profile_detail %}
    <img class="imageframe" src="../../../media/{{ profile_detail.picture }}"" alt="empty">
  {% else %}
     <img class="imageframe" src="{% static 'images/grey.jpg' %}" alt="empty">
  {% endif %}
{% endblock %}

{% block content %}
   <img class="center" src="{% static 'images/logo.jpg' %}"/>
    
    <div>Logo made with <a href="/en/" title="Free Online Logo Maker">DesignEvo</a></div>
    <br>
    <h1 name="index_text" class="my-4">Welcome Friend to the World of Cats.</h1>
    <br>
{% endblock %}
