{% extends "cat_app/base.html" %}
{% load static %}
{% block title %}Login{% endblock %}
{% block templatecss %}<link href="{% static 'css/login.css' %}" rel="stylesheet" />{% endblock %}
{% block imagenav %}<img class="imageframe" src="media/{{ profile_detail.picture }}" alt="{{ profile_detail.picture }}">{% endblock %}
{% block content %}
    <br>
    <form method="POST">
      {% csrf_token %}
      <div class="login-container">
        {{ form.as_p }}
        <button type="submit" class="btn btn-success btn-btn">Login</button>
      </div>
      <div class="button-container">
          <span class="psw">Not a User?     <a href="#">Sign Up Here</a></span>
      </div>
    </form>
{% endblock %}

