{% extends "base.html" %}
{% block title %}Profile Form{% endblock %}
{% block templatecss %}<link href="{% static 'css/profile.css' %}" rel="stylesheet" />{% endblock %}
{% block imagenav %}<img class="imageframe" src="media/{{ profile_detail.picture }}" alt="{{ profile_detail.picture }}">{% endblock %}
{% block content %}
    <br>
    <form enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <div class="register-container">
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-btn">Update</button>
      </div>
    </form>
    <br>
{% endblock %}
